<%- include('../partials/admin/header', {name: fullName}); %>
<h1 class="text-center mt-2 mb-3">Accounts</h1> 
<nav class="navbar p-0">
    <div class="container justify-content-end">
        <div class="float-end ms-3 mb-1">
            <form action="" method="post" class="row d-flex">
                <input class="form-control col me-3" type="search" placeholder="Search" name="">
                <input class= "btn btn-outline-dark col-2 me-3" type="button" name="" value = "Go">  
                <a class="btn btn-light col-3 me-3" href="#" name="">Sort<i class="fa-solid fa-filter"></i></a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-lg col-md">
        <div class="card shadow p-3 bg-body rounded">
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-sm">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Account Type</th>
                            <th>Verification Status</th>
                            <th>Action</th>
                        </tr>
                        <%accounts.forEach(function(account){%>
                            <tr>
                                <td><%= account.firstName + " " + account.lastName %></td>
                                <td><%= account.email %></td>
                                <td><%= account.accountType %></td>
                                <td><%= account.isVerified %></td>
                                <td>
                                    <% if(account.email === "sammygarma26@gmail.com" && account.accountType === "admin"){ %>
                                    <%} else if(account.accountType === "admin"){ %>
                                        <form action="/admin/accounts/downgrade-account" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger" name="downgradeId" value="<%= account._id %>">Downgrade</button>
                                        </form>
                                    <% } else { %>
                                        <form action="/admin/accounts/upgrade-account" method="post">
                                            <button type="submit" class="btn btn-sm btn-success" name="upgradeId" value="<%= account._id %>">Upgrade</button>
                                        </form>
                                    <% } %>

                                </td>
                            </tr>
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/admin/footer'); %>