<%- include('../innerPartials/admin/header', {name: fullName}); %>
<div class="container">
    <form action="/admin/orders/add-payment-<%= order._id %>" method="post">
        <h1 class="fw-bold text-center mt-2 mb-3">Add Payment</h1>
        
        <div class="mb-3">
            <label for="amountPaid" class="form-label">Amount Paid:</label>
            <input type="hidden" name="oldBalance" value="<%= order.amountPaid %>">
            <input type="number" class="form-control" id="amountPaid" name="amountPaid" min="0" required>
        </div>

        <div class="mb-3">
            <label for="prevRemaining" class="form-label">Amount Remaining:</label>
            <input type="number" class="form-control" id="prevRemaining" name="prevRemaining" value="<%= order.amountRemaining %>" disabled>
            <input type="hidden" name="amountRemaining" value="<%= order.amountRemaining %>">
        </div>

        <div class="col-lg col-md">
            <div class="card bg-body rounded">
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <th colspan="4"><h5 class="fw-semibold">Proof of Payments</h5></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Payment Reference:</th>
                                    <th>Payment Information:</th>
                                </tr>
                    
                                <% order.paymentsInfo.forEach(function(payment){ %>
                                <tr>
                                    <td>
                                        <p><%= payment._id %></p>
                                    </td>
                                    <td>
                                        <a href="/admin/orders/view-payment-info-<%= order._id %>-<%= payment._id %>">View Info</a>
                                    </td>    
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>    
                </div>
            </div>
        </div>    

        <button class="btn btn-primary mt-3" type="submit">Update</button>
        <a class="btn btn-secondary mt-3" href="/admin/orders">Cancel</a>

    </form>
</div>
<%- include('../innerPartials/admin/footer'); %>