<%- include('../partials/admin/header', {name: fullName}); %>
<h1 class="fw-bold text-center mt-2 mb-3">Inventory</h1> 
<nav class="navbar p-0">
    <div class="container justify-content-end">
        <div class="float-end ms-3 mb-1">
            <form action="" method="post" class="row d-flex">
                <input class="form-control col me-3" type="search" placeholder="Search" name="">
                <input class= "btn btn-outline-dark col-2 me-3" type="button" name="" value = "Go">  
                <a class="btn btn-light col-3 me-3" href="#" name="">Sort<i class="fa-solid fa-filter"></i></a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-lg col-md">
        <div class="card shadow p-3 bg-body rounded">
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-sm">
                        <tr>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Net Sales</th>
                            <th>Items Sold</th>
                            <th>Items Remaining</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                        <%newListInventory.forEach(function(inventory){%>
                        <tr>
                            <td><%= inventory.brand %></td>
                            <td><%= inventory.name %></td>
                            <td><%= inventory.totalEarnings %></td>
                            <td><%= inventory.totalQuantitySold %></td>
                            <td><%= inventory.itemsRemaining %></td>
                            <td><%= inventory.category %></td>
                            <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Actions
                                </button>
                                <ul class="dropdown-menu">                                
                                    
                                    <a class ="dropdown-item" href="/admin/inventory/<%= inventory._id %>/view" >View Product</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class ="dropdown-item" href="/admin/inventory/<%= inventory._id %>/delete" >Delete Product</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class ="dropdown-item" href="/admin/inventory/<%= inventory._id %>/add-new-variation" >Add Variation</a>                        
                            </ul>
                            </td>
                        </ul>
                    </div>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/admin/footer'); %>