<%- include('../partials/admin/header', {name: fullName}); %>
<div class="container">
    <h1 class="fw-bold text-center mt-2 mb-3">Inventory</h1> 
    <nav class="navbar p-0 mb-3">
        <div class="btn-group ms-auto">
            <div class="ms-1">
                <form action="/admin/inventory/search-inventory" method="GET" class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1" id="query">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="btn-group">
                <div class="ms-1">
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-filter"></i></button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="dropdown-item">Filter by:</div>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <% brands.forEach(function(brand){ %>
                            <li>
                                <% if(!stype || !sdir) { %>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=brand&fvalue=<%= brand._id.brand %>"><%= brand._id.brand %></a>
                                    <% } else { %>
                                    <a class="dropdown-item" href="/admin/inventory?stype=<%= stype %>&sdir=<%= sdir %>&ftype=brand&fvalue=<%= brand._id.brand %>"><%= brand._id.brand %></a>
                                    <% } %>
                            </li>
                        <% }) %>          
                    </ul>
                </div>
                <div class="ms-1">
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-sort"></i></button>
                    <ul class="dropdown-menu dropdown-shift1">
                        <li>
                            <div class="dropdown-item">Sort by:</div>
                            <li><hr class="dropdown-divider"></li>
                            <% if(!ftype || !fvalue){ %>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=movementRate&sdir=-1">Movement Rate - High to Low</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=movementRate&sdir=1">Movement Rate - Low to High</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=totalQuantitySold&sdir=-1">Items Sold - High to Low</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=totalQuantitySold&sdir=1">Items Sold - Low to High</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=totalEarnings&sdir=-1">Earnings - High to Low</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=totalEarnings&sdir=1">Earnings - Low to High</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=name&sdir=1">A - Z</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?stype=name&sdir=-1">Z - A</a>
                                </li>
                                <% } else { %>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=movementRate&sdir=-1">Movement Rate - High to Low</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=movementRate&sdir=1">Movement Rate - Low to High</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=totalQuantitySold&sdir=-1">Items Sold - High to Low</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=totalQuantitySold&sdir=1">Items Sold - Low to High</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=totalEarnings&sdir=-1">Earnings - High to Low</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=totalEarnings&sdir=1">Earnings - Low to High</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=name&sdir=1">A - Z</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/inventory?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=name&sdir=-1">Z - A</a>
                                </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>    
    </nav>
    <div class="col-lg col-md mb-3">
        <div class="card shadow p-3 bg-body rounded">
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-sm">
                        <tr>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Net Sales</th>
                            <th>Total Acquired</th>
                            <th>Items Sold</th>
                            <th>Items Remaining</th>
                            <th>Movement Rate</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                        <%newListInventory.forEach(function(inventory){%>
                        <tr>
                            <td><%= inventory.brand %></td>
                            <td><%= inventory.name %></td>
                            <td>₱<%=  new Intl.NumberFormat().format(inventory.totalEarnings) %>.00</td>
                            <td><%=  inventory.totalAcquired %></td>
                            <td><%= inventory.totalQuantitySold %></td>
                            <td><%= inventory.itemsRemaining %></td>
                            <td><%= inventory.movementRate.toFixed(2) %>%</td>
                            <td><%= inventory.category %></td>
                            <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Actions
                                </button>
                                <ul class="dropdown-menu">                                
                                    
                                    <a class ="dropdown-item" href="/admin/inventory/<%= inventory._id %>/view" >View Product</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class ="dropdown-item" href="/admin/inventory/<%= inventory._id %>/delete" >Delete Product</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class ="dropdown-item" href="/admin/inventory/<%= inventory._id %>/add-new-variation" >Add Variation</a>                        
                            </ul>
                            </td>
                        </ul>
                    </div>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<%- include('../partials/admin/footer'); %>