<%- include('../partials/admin/header', {name: fullName}); %>
<h1 class="text-center mt-2 mb-3">Orders</h1> 
<nav class="navbar p-0">
    <div class="container justify-content-end">
        <div class="float-end ms-3 mb-1">
            <form action="" method="post" class="row d-flex">
                <input class="form-control col me-3" type="search" placeholder="Search" name="">
                <input class= "btn btn-outline-dark col-2 me-3" type="button" name="" value = "Go">  
                <a class="btn btn-light col-3 me-3" href="#" name="">Sort<i class="fa-solid fa-filter"></i></a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-lg col-md">
        <div class="card shadow p-3 bg-body rounded">
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-sm">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Order Status</th>
                            <th>Payment Status</th>
                            <th>Paid</th>
                            <th>Remaining</th>
                            <th>Action</th>
                        </tr>

                        <%orders.forEach(function(order){%>
                        <tr>
                            <td><%= order._id %></td>
                            <td>jordan</td>
                            <td>
                                <div class="dropdown">
                                    <a class="" href="#"><i class="fa-solid fa-pen-to-square me-2"></i></a>
                                    <button class="btn btn-sm btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= order.orderStatus %>
                                    </button>
                                    <ul class="dropdown-menu">
                                         
                                        <%order.items.forEach(function(cart){%>
                                            <% if(order.orderStatus === "Pending"){ %>
                                                
                                            <form action="/admin/orders/confirmed-order" method="post">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <li><button class="dropdown-item">Confirmed</button></li>
                                                <li><hr class="dropdown-divider"></li>
                                            </form>

                                            <form action="/admin/orders/completed-order" method="post">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <li><button class="dropdown-item">Completed</button></li>
                                                <li><hr class="dropdown-divider"></li>
                                            </form>

                                            <form action="/admin/orders/cancelled-order" method="post">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <li><button class="dropdown-item">Cancelled</button></li>
                                                <li><hr class="dropdown-divider"></li>
                                            </form>

                                            <form action="/admin/orders/refunded-order" method="post">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <li><button class="dropdown-item">Refunded</button></li>
                                                <li><hr class="dropdown-divider"></li>
                                            </form>

                                            <form action="/admin/orders/delete-order" method="post">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <li><button class="dropdown-item">Delete</button></li>
                                            </form>

                                            <% } else if(order.orderStatus === "Confirmed"){%>

                                                <form action="/admin/orders/completed-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Completed</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>
        
                                                <form action="/admin/orders/cancelled-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Cancelled</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>
        
                                                <form action="/admin/orders/refunded-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Refunded</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>

                                                <form action="/admin/orders/delete-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Delete</button></li>
                                                </form>

                                            <% } else if(order.orderStatus === "Completed"){%>    

                                                <form action="/admin/orders/cancelled-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Cancelled</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>
        
                                                <form action="/admin/orders/refunded-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Refunded</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>

                                                <form action="/admin/orders/delete-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Delete</button></li>
                                                </form>

                                            <% } else if(order.orderStatus === "Cancelled"){%>   

                                                <form action="/admin/orders/refunded-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Refunded</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>

                                                <form action="/admin/orders/delete-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Delete</button></li>
                                                </form>

                                            <% } else if(order.orderStatus === "Refunded"){%>

                                                <form action="/admin/orders/cancelled-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Cancelled</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                </form>

                                                <form action="/admin/orders/delete-order" method="post">
                                                    <input type="hidden" name="orderId" value="<%= order._id %>">
                                                    <li><button class="dropdown-item">Delete</button></li>
                                                </form>

                                            <% } else{ %>
                                                
                                            <% } %>
                                        <% }) %>
                                    </ul>
                                  </div>
                            </td>
                            <td>
                                <a class="" href="#"><i class="fa-solid fa-pen-to-square me-2"></i></a>
                                <%= order.paymentStatus %>
                            </td>
                            <td>₱<%= order.amountPaid %></td>
                            <td>₱<%= order.amountRemaining %></td>
                            <td>
                                <a class="" href="#"><i class="fa-solid fa-eye me-1"></i></a>
                                <a class="btn btn-sm btn-light" href="#">Send Email</a>
                            </td>
                        </tr>   
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/admin/footer'); %>