<%- include('../innerPartialsv2/admin/header', {name: fullName}); %>

<div class="container">
    <h1 class="text-center mt-2 mb-3">Update Product</h1> 
    <form action="/admin/products/<%= _id %>" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="inputIdName" class="form-label">ID:</label>
            <input type="text" class="form-control" id="inputBrandName" name="productId" value="<%= _id %>">
        </div>
        <div class="mb-3">
          <label for="inputBrandName" class="form-label">Brand Name:</label>
          <input type="text" class="form-control" id="inputBrandName" name="productBrand" value="<%= brand %>">
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name:</label>
            <input type="text" class="form-control" id="inputName" name="productName" value="<%= name %>">
        </div>
        <div class="mb-3">
            <label for="inputPrice" class="form-label">Price:</label>
            <input type="number" class="form-control" id="inputPrice" name="productPrice" value="<%= price %>">
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description:</label>
            <input type="text" class="form-control" id="inputDescription" name="productDescription" value="<%= description %>">
        </div>
        <div class="mb-3">
            <label for="inputImage" class="form-label">Image:</label>
            <input type="file" class="form-control" id="inputImage" name="image" value="<%= image %>">
            <img src="<%= image %>" width="100" class="img-thumbnail mt-1">
        </div>
        <input type="hidden" name="productOldImage" value="<%= image %>">
        <div class="mb-3">
            <label for="inputProductType" class="form-label">Category:</label>
            <select name="category" id="category" class="form-control" value="<%= category %>">
                <option value="On-Hand">On-hand</option>
                <option value="Pre-Order">Pre-Order</option>
                <option value="Apparel">Apparel</option>
                <option value="Accessories">Accessories</option>
              </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        <a class="btn btn-secondary mt-3" href="/admin/products">Cancel</a>
      </form>
</div>

<%- include('../innerPartials/admin/footer'); %>