<%- include('../innerPartialsv2/admin/header', {name: fullName}); %>
     <div class="container">
        <h1 class="text-center mt-2 mb-3">View Product</h1> 
        <div class="card shadow p-3 bg-body rounded">
            <div class="row">
                <div class="col-lg-4">
                    <img src="/uploads/<%=  newListProducts.image %>" class="img" alt="">
                </div>
                <div class="col-lg-4">
                    <h5>Brand: <%= newListProducts.brand %></h5>
                    <h5>Name: <%= newListProducts.name %></h5>
                    <h5>Price: <%= newListProducts.price %></h5>
                    <h5>Description: <%= newListProducts.description %></h5>
                    <div class="table table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            <%newListProducts.variations.forEach(function(variation){%>
                                <tr>
                                    <td><%= variation.name %></td>
                                    <td><%= variation.quantity %></td>
                                    <td><%= variation.status %></td>
                                    <td>    
                                        <a href="/admin/products/update-variation/<%= variation._id%>-<%= newListProducts._id%>"><i class="fa-solid fa-pen-to-square me-1"></i></a> 
                                        <a href="/admin/products/delete-variation/<%= variation._id%>-<%= newListProducts._id%>" ><i class="fa-solid fa-trash-can me-1"></i></a>
                                    </td>
                                </tr>
                            <%})%>
                        </table>
                    <h5>Category: <%= newListProducts.category %></h5>
                    
                </div>
            </div>
        </div>
        
    </div>
<%- include('../innerPartials/admin/footer'); %>