<%- include('../partials/header'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="card">
                <div class="card-header"><h1 class="fw-bold">New Address</h1></div>
                <div class="card-body">
                    <form action="/account/address" method="POST">
                        <div class="row g-3">
                            <div class="col-lg-6 col-md-6">
                                <label class="form-label" for="firstName">First Name</label>
                                <input class="form-control" type="text" name="firstName" id="firstName" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="form-label" for="lastName">Last Name</label>
                                <input class="form-control" type="text" name="lastName" id="lastName" required>
                            </div>
                            <div>
                                <label for="addressLine">House Number and Street Name</label>
                                <input class="form-control" type="text" name="addressLine" id="addressLine" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label for="region">Region</label>
                                <select name="region" id="region" class="form-select" required>
                                    <option selected disabled value="">Choose a Region</option>
                                    <option value="Region I – Ilocos Region">Region I – Ilocos Region</option>
                                    <option value="Region II – Cagayan Valley">Region II – Cagayan Valley</option>
                                    <option value="Region III – Central Luzon">Region III – Central Luzon</option>
                                    <option value="Region IV‑A – CALABARZON">Region IV‑A – CALABARZON</option>
                                    <option value="MIMAROPA Region">MIMAROPA Region</option>
                                    <option value="Region V – Bicol Region">Region V – Bicol Region</option>
                                    <option value="Region VI – Western Visayas">Region VI – Western Visayas</option>
                                    <option value="Region VII – Central Visayas">Region VII – Central Visayas</option>
                                    <option value="Region VIII – Eastern Visayas">Region VIII – Eastern Visayas</option>
                                    <option value="Region IX – Zamboanga Peninsula">Region IX – Zamboanga Peninsula</option>
                                    <option value="Region X – Northern Mindanao">Region X – Northern Mindanao</option>
                                    <option value="Region XI – Davao Region">Region XI – Davao Region</option>
                                    <option value="Region XII – SOCCSKSARGEN">Region XII – SOCCSKSARGEN</option>
                                    <option value="Region XIII – Caraga">Region XIII – Caraga</option>
                                    <option value="NCR – National Capital Region">NCR – National Capital Region</option>
                                    <option value="CAR – Cordillera Administrative Region">CAR – Cordillera Administrative Region</option>
                                    <option value="BARMM – Bangsamoro Autonomous Region in Muslim Mindanao">BARMM – Bangsamoro Autonomous Region in Muslim Mindanao</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label for="city">City</label>
                                <input class="form-control" type="text" name="city" id="city" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label for="postalCode">Postal Code</label>
                                <input class="form-control" type="text" name="postalCode" id="postalCode" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="form-label" for="barangay">Barangay</label>
                                <input class="form-control" type="text" name="barangay" id="barangay" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="form-label" for="email">Email Address</label>
                                <input class="form-control" type="email" name="email" id="email" required>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-dark" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="row">
            <%user.addresses.forEach(function(address){%>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-header"><%= address.firstName + " " + address.lastName + " | " + address.phoneNumber + " | " + address.email %></div>
                        <div class="card-body">
                            <p class="card-text"> <%= address.addressLine + ", " + address.barangay + ", " + address.city + ", " + address.region + ", " + address.postalCode%></p>
                            <form class="d-grid mb-2" action="/account/setDefaultAddress/<%= address._id %>&<%= address.firstName %>&<%= address.lastName %>&<%= address.addressLine %>
                            &<%= address.region %>&<%= address.city %>&<%= address.postalCode %>&<%= address.barangay %>&<%= address.phoneNumber %>&<%= address.email %>" method="POST">
                                <button type="submit" class="btn btn-dark" value="<%= address._id %>&<%= address.firstName %>&<%= address.lastName %>&<%= address.addressLine %>
                                &<%= address.region %>&<%= address.city %>&<%= address.postalCode %>&<%= address.barangay %>&<%= address.phoneNumber %>&<%= address.email %>">Set as default address</button>
                            </form>
                            <form class="d-grid mb-2" action="/account/deleteAddress/<%= address._id %>" method="POST">
                                <button type="submit" class="btn btn-danger" value="<%= address._id %>">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
              <% }) %>
        </div>
    </div>
</div>
    
    
<%- include('../partials/footer'); %>

