<%- include('../partials/header'); %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="fw-bold float-start">My Account</h1>

            <form action="/account/logout" method="POST" class="float-end">
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
            <a href="/account/change-password" class="btn btn-secondary float-end me-1">Change Password</a>
        </div>
        <% const name = user.firstName + " " + user.lastName %>
        <div class="card-body row">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <h2 class="mb-4 fw-bold">Account Information</h2>
                <p>Name: <%= name %></p>
                <p>Email: <%= user.email %></p>
                <p>Account Type: <%= user.accountType %></p>
                <p><a href="/account/wishlist" class="fw-bold text-dark">View Wishlist</a></p>
                <p><a href="/account/view-orders" class="fw-bold text-dark">View Order History</a></p>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <h2 class="mb-4 fw-bold">Default Address</h2>
                <% if(user.defaultAddress._id != undefined) { %>
                    <p>Full Name: <%= user.defaultAddress.firstName + " " + user.defaultAddress.lastName %></p>
                    <p>Address Line: <%= user.defaultAddress.addressLine %></p>
                    <p>Region: <%= user.defaultAddress.region %></p>
                    <p>City: <%= user.defaultAddress.city %></p>
                    <p>Postal Code: <%= user.defaultAddress.postalCode %></p>
                    <p>Barangay: <%= user.defaultAddress.barangay %></p>
                    <p>Phone Number: <%= user.defaultAddress.phoneNumber %></p>
                    <p>Email: <%= user.defaultAddress.email %></p>
                <% } else if(user.defaultAddress._id === undefined) { %>
                    <p><%= user.defaultAddress.firstName %></p>
                    <p>Please set a default address. </p>
                <% } %>
                
                <a href="/account/address" class="fw-bold text-dark">View Addresses</a>
            </div>

        </div>
    </div>



</div>
<%- include('../partials/footer'); %>