<%- include('../partials/header'); %>
<div class="container">
    <h1 class="fw-bold mb-3">My Wishlist</h1>
    <div class="row">
        <% if(items.length == 0 || items == null || items == undefined) { %>
            You don't have any items in your wishlist.
        <% } else { %>
            <% for(let i = 0; i < items.length; i++){ %>
                <div class="col-lg-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <a href="/products/item/<%= items[i]._id %>" class="text-dark text-decoration-none">
                                <img src="<%= items[i].image.url %>" class="card-img-top" style="width: 250px; height:250px;object-fit:cover;">
                                <p class="card-text"><%= items[i].brand %></p>
                                <p class="card-text cust-prod-text"><%= items[i].name %></p>
                                <p class="card-text cust-prod-text">₱<%= items[i].price %></p>
                            <form class="d-grid mb-2" action="/account/delete-wishlist" method="POST">
                                <button type="submit" class="btn btn-dark" name="wishlistId" value="<%= wishlist.products[i]._id %>">Remove</button>
                            </form>
                            </a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
        
    </div>
</div>

<%- include('../partials/footer'); %>