<%- include('partials/header') %>

    <div class="container">
      <h1 class="cust-title-text mb-5 text-center">About Us</h1>
      <div class="row">
        <div class="col-lg-6">
          <% if(content == null){ %>
            <img src="images/default/aboutus/image1.jpg" class="mb-5" style="width: 100%;" alt="">
          <% } else { %>
            
            <% if(content.aboutUsImage.length == 0){ %>
              <img src="images/default/aboutus/image1.jpg" class="mb-5" style="width: 100%;" alt="">
            <% } else { %>
              <img src="images/content/aboutus/<%= content.aboutUsImage[0].image %>" class="mb-5" style="width: 100%;" alt="">
            <% } %>

          <% } %>
        </div>
        <div class="col-lg-6">
          <% if(content == null || content == undefined){ %>
            <p class="fw-bold">DEFAULT PARAGRAPH</p>
            <p class="fw-bold">DEFAULT PARAGRAPH</p>
            <p class="fw-bold">DEFAULT PARAGRAPH</p>
          <% } else { %>
            <p class="fw-bold"><%= content.aboutUsParagraph1 %></p>
            <p class="fw-bold"><%= content.aboutUsParagraph2 %></p>
            <p class="fw-bold"><%= content.aboutUsParagraph3 %></p>
          <% } %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
        <% if(content == null){ %>
          <img src="images/default/aboutus/image2.png" class="mb-5" style="width: 100%;" alt="">
        <% } else { %>

          <% if(content.aboutUsImage.length == 0){ %>
            <img src="images/default/aboutus/image2.png" class="mb-5" style="width: 100%;" alt="">
          <% } else { %>
            <img src="images/content/aboutus/<%= content.aboutUsImage[1].image %>" class="mb-5" style="width: 100%;" alt="">
          <% } %>
          
        <% } %>
        </div>
        <div class="col-lg-6">
          <% if(content == null){ %>
            <img src="images/default/aboutus/image3.png" class="mb-5" style="width: 100%;" alt="">
          <% } else { %>

            <% if(content.aboutUsImage.length == 0){ %>
              <img src="images/default/aboutus/image3.jpg" class="mb-5" style="width: 100%;" alt="">
            <% } else { %>
              <img src="images/content/aboutus/<%= content.aboutUsImage[2].image %>" class="mb-5" style="width: 100%;" alt="">
            <% } %>
            

          <% } %>
        </div>
      </div>
    </div>
    
<%- include('partials/footer', { content: content }) %>