<%- include('partials/header'); %>
<div class="container">
    <h4><a href="/cart/checkout" class="text-dark">Go back</a></h4>
    <div class="row d-flex">
        <div class="order-1 order-sm-1 order-lg-0 col-xl-8 col-lg-8 mb-4">
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-secondary">
                    <h3 class="fw-bold">Your Information</h3>
                </li>
                <li class="list-group-item">
                    <p class="fw-bold"><%= user.firstName + " " + user.lastName %></p>
                    <p><%= user.email %></p>
                </li>
                <li class="list-group-item list-group-item-secondary">
                    <h3 class="fw-bold">Shipping Address</h3>
                </li>
                <li class="list-group-item">
                    <p class="fw-bold"><%= user.defaultAddress.firstName + " " + user.defaultAddress.lastName %></p>
                    <p><%= user.defaultAddress.email %></p>
                    <p><%= user.defaultAddress.phoneNumber %></p>
                    <p><%= user.defaultAddress.addressLine + ", " + user.defaultAddress.barangay + ", " + user.defaultAddress.region + ", " + user.defaultAddress.city + ", " + user.defaultAddress.postalCode %></p>
                </li>
                <li class="list-group-item list-group-item-secondary">
                    <h3 class="fw-bold">Payment Method</h3>
                </li>
                <li class="list-group-item">
                    <p><%= paymentMethod %></p>
                </li>
              </ul>
              <form action="/cart/place-order" method="post">
                <input type="text" name="paymentMethod" value="<%= paymentMethod %>" hidden>
                <% if(message != null) { %>
                    <div class="order-3 alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                  <% } %>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="termsCheckbox" value="agree">
                    <label class="form-check-label" for="inlineCheckbox1">I have read and agree to the website <span class="text-danger text-decoration-underline" style="cursor: pointer;"><a data-bs-toggle="modal" data-bs-target="#exampleModal">terms and conditions</a></span>*</label>
                </div>
                <div>
                    <button class="btn btn-dark" type="submit">Confirm Order</button>
                </div>
                  <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Terms and Conditions</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id minima iste vitae possimus tempora iusto sint commodi libero nulla consectetur error maxime rem mollitia, architecto sequi harum adipisci odit nesciunt!
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam repudiandae suscipit iusto corrupti doloremque asperiores ratione dolor harum facere omnis sit perspiciatis vel itaque, possimus odit. Cupiditate iste ipsam veritatis!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- End Modal -->
            </form>
        </div>

        <div class="order-0 order-sm-0 order-lg-1 col-xl-4 col-lg-4 mb-4">
            <h3 class="fw-bold">Your Cart <span class="badge bg-secondary rounded-pill"><%= cart.totalQty %></span></h3>
            <ol class="list-group">
                <% usercart.forEach(function(cart){ %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div>
                        <img src="<%= cart.item.image.url %>" style="height: 75px;">
                    </div>
                    <div class="ms-2 me-auto">
                        <div class="text-secondary fw-bold"><%= cart.item.brand %></div>
                        <div class="fw-bold"><%= cart.item.name %></div>
                        <div class="text-secondary fw-bold">Size: <%=cart.variation%></div>
                        <div>Quantity: <%= cart.qty %></div>
                    </div>
                    <span class="fw-bold">₱<%=  new Intl.NumberFormat().format(cart.price) %>.00</span>
                </li>
            <% }) %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Total: </div>
                    </div>
                    <span class="fw-bold">₱<%=  new Intl.NumberFormat().format(cart.totalPrice) %>.00</span>
                </li>
            </ol>
        </div>
    </div>
    
</div>

<%- include('partials/footer'); %>