<%- include('partials/header'); %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="fw-bold float-start">My Account</h1>

            <form action="/account/logout" method="POST" class="float-end">
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
            <a href="/account/change-password" class="btn btn-secondary float-end me-1">Change Password</a>
        </div>
        <% const name = user.firstName + " " + user.lastName %>
        <div class="card-body row">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <h2 class="mb-4 fw-bold">Account Information</h2>
                <p>Name: <%= name %></p>
                <p>Email: <%= user.email %></p>
                <p>Account Type: <%= user.accountType %></p>
                <a href="/account/wishlist" class="fw-bold text-dark">View Wishlist</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <h2 class="mb-4 fw-bold">Default Address</h2>
                <% if(user.defaultAddress._id != undefined) { %>
                    <p>Full Name: <%= user.defaultAddress.firstName + " " + user.defaultAddress.lastName %></p>
                    <p>Address Line: <%= user.defaultAddress.addressLine %></p>
                    <p>Region: <%= user.defaultAddress.region %></p>
                    <p>City: <%= user.defaultAddress.city %></p>
                    <p>Postal Code: <%= user.defaultAddress.postalCode %></p>
                    <p>Barangay: <%= user.defaultAddress.barangay %></p>
                    <p>Phone Number: <%= user.defaultAddress.phoneNumber %></p>
                    <p>Email: <%= user.defaultAddress.email %></p>
                <% } else if(user.defaultAddress._id === undefined) { %>
                    <p><%= user.defaultAddress.firstName %></p>
                    <p>Please set a default address. </p>
                <% } %>
                
                <a href="/account/address" class="fw-bold text-dark">View Addresses</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                <h2 class="mb-4 fw-bold">Order History</h2>
                <div class="row">
                    <%orders.forEach(function(order){%>
                        <div class="col-lg-6 mb-4">
                            <div class="card">
                                <div class="card-header">Order ID: <%= order._id %></div>
                                <div class="card-body">
                                    
                                    <%order.items.forEach(function(cart){%> 
                                        <p class="card-text">
                                            <%= cart.item.brand + " " + cart.item.name%> | Size: <%= cart.variation %> | <%= cart.qty %> 
                                            <% if(cart.qty <= 1 ){ %> Unit <% }else{ %> Units <% } %>   
                                            <span class="badge rounded-pill bg-dark">₱<%= cart.price %></span>   
                                        </p> 
                                        <p class="card-text"></p>
                                    <%})%>                       
                                    <p class="card-text">Total Price: 
                                        <span class="badge rounded-pill bg-dark">₱<%= order.cart.totalPrice %></span>
                                    </p>
                                    <form class="d-grid mb-2" action="/account/view-order/<%= order._id %>">
                                        <button type="submit" class="btn btn-dark">View Order Details</button>
                                    </form>
                                    <form class="d-grid mb-2" action="" method="POST">
                                        <button type="submit" class="btn btn-success" value="">Send Proof of Payment</button>
                                    </form>
                                    <form class="d-grid mb-2" action="" method="POST">
                                        <button type="submit" class="btn btn-danger" value="">Cancel Order</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>

        </div>
    </div>



</div>
<%- include('partials/footer'); %>