<%- include('partials/header'); %>
    <div class="container">
      <div class="d-flex">
        <div>
          <h1 class="fw-bold mb-2">Products / <%= category %></h1>
        </div>
        <div class="ms-auto mb-2">
          <div class="btn-group">

            <div class="mx-1 my-1">
              <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-filter"></i>
              </button>
              <ul class="dropdown-menu">
                <% brands.forEach(function(brand){ %>
                  <li>
                    <% if(!stype || !sdir) { %>
                      <a class="dropdown-item" href="/products/onhand?ftype=brand&fvalue=<%= brand._id.brand %>"><%= brand._id.brand %></a>
                    <% } else { %>
                      <a class="dropdown-item" href="/products/onhand?stype=<%= stype %>&sdir=<%= sdir %>&ftype=brand&fvalue=<%= brand._id.brand %>"><%= brand._id.brand %></a>
                    <% } %>
                  </li>
                <% }); %>
              </ul>
            </div>

            <div class="mx-1 my-1">
              <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-sort"></i>
              </button>
              <ul class="dropdown-menu">
                <% if(!ftype || !fvalue){ %>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?stype=totalQuantitySold&sdir=-1">Best Sellers</a>
                  </li>
                  <li>c
                    <a class="dropdown-item" href="/products/<%=c%>?stype=name&sdir=1">A - Z</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?stype=name&sdir=1">Z - A</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?stype=price&sdir=1">Price Low to High</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?stype=price&sdir=-1">Price High to Low</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?stype=price&sdir=1">Oldest</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?stype=price&sdir=-1">Newest</a>
                  </li>
                <% } else { %>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=totalQuantitySold&sdir=1">Best Sellers</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=name&sdir=1">A - Z</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=name&sdir=-1">Z - A</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=price&sdir=1">Price Low to High</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=price&sdir=-1">Price High to Low</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=dateCreated&sdir=1">Oldest</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/products/<%=c%>?ftype=<%= ftype %>&fvalue=<%= fvalue %>&stype=dateCreated&sdir=-1">Newest</a>
                <% } %>
              </ul>
            </div>
          </div>
        </div>

      </div>
        
        <div class="row mt-3">
          <% if(products.length == 0 || products == undefined || products == null){ %>
            <div class="text-center my-5">Sorry, there are no products to be found in this page.</div> 
          <% } %>
          <%products.forEach(function(product){%>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-6">
              <a href="/products/item/<%= product._id %>" class="cust-prod-link">
                <div class="card w-100 border-0">
                    <img src="<%= product.image.url %>"  class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"><%= product.brand %> </p>
                    <p class="card-text fw-bold"><%= product.name %></p>
                    <p class="card-text fw-bold">₱<%= product.price %></p>
                  </div>
                </div>
              </a> 
            </div>
          <% }) %>   
        </div>
    </div>

<%- include('partials/footer'); %>
