<%- include('innerPartials/header'); %>
<div class="container">
    <h1 class="cust-title-text mb-5"><%= item.category + " " %> / <%= item.brand + " " + item.name %></h1>
    <div class="row">
        <div class="col-lg-6">
            <!-- <img src="/uploads/<%= item.image %>" style="width: 80%;" alt=""> -->
            <img src="/uploads/<%= item.image %>" class="img" style="object-fit: cover;" alt="">
        </div>
        <div class="col-lg-4">
            <h1><%= item.brand %></h1>
            <h1 class="cust-title-text"><%= item.name %></h1>
            <h1>₱ <%= item.price %></h1>
            <h5> <%= item.description %></h5>    
            <div class="d-grid gap-2">
            <form action="/cart/add-to-cart" method="post">
                <div class="mb-3">
                    <label for="variation" class="form-label">Size: <span style="color:red" id="errorDisabledValue"></span></label>
                    <select name="variation" onchange="handleQuantity();" id="category" class="form-control">
                        <% item.variations.forEach(function(variation){ %>
                            <option id = "categoryValue" value="<%= variation.name %>"><%= variation.name %></option>
                        <% }) %>
                    </select>
                </div>
                    
                <p class="mb-3">Available Quantity: <span id="qtydisplay" style="color:green"></span></p>
                <div class="mb-3 form-outline">
                    <input type="number" name="quantity" id = "inputQty" class="form-control" value="1" min="1" required>
                </div>
                
                <input type="hidden" name="itemValueTemp" id ="itemValueTemp" value="<%= JSON.stringify(item) %>">
                <input type="hidden" name="prodId" value="<%= item._id %>">
                
                <% if(isError){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <div class="d-grid gap-2">
                    <button class="btn btn-dark btn-lg" id="submit" type="submit">ADD TO CART</button>
                    <% if(userId){ %>
                    <button class="btn btn-light btn-lg" formaction="/products/add-to-wishlist">ADD TO WISHLIST</button>  
                    <% } %>
                </div>

            </form>    

            </div> 
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
// parse the stored stringified item in json to able to use it in defer code
var item = JSON.parse(document.getElementById("itemValueTemp").value);


// call function right on load of webpage to show instant quantity for a selected value in selectbox
handleQuantity();

var currentQty = 0;

function handleQuantity (){
   
    // get value of id category in selectbox and find the selected option 
    var categoryValue = $("#category").find('option:selected');

    // to get specific content of "value" attrib in selectbox
    var value = categoryValue.val();

    // find the variation array for the selected variation value using ,find and passing the var value
    var selectVariation = item.variations.find(x=>(x.name === value));
    currentQty = selectVariation.quantity;

  
    // id of span element displaying quantity on selectvar value    
    $("#qtydisplay").text(selectVariation.quantity);
    if(currentQty === 0){
            $("#submit").prop("disabled", true);
            // $('#categoryValue option[value="'+categoryValue+'"]').attr("disabled", true);
            $('select option[value="'+value+'"]').attr("disabled",true).append(" Size No longer available").css({"color":"red"});
            //  $("#categoryValue").prop("disabled", true);
            $('#categoryValue option[value="'+categoryValue+'"]').append(" Size No longer available")
            $("#errorDisabledValue").text("Size Not Available");
             
    }else{
        $("#submit").prop("disabled", false);
        $("#errorDisabledValue").text("");
    }
}


$(document).change(function() {
    var categoryValue = $("#category").find('option:selected');

    // to get specific content of "value" attrib in selectbox
    var value = categoryValue.val();

    // find the variation array for the selected variation value using ,find and passing the var value
    var selectVariation = item.variations.find(x=>(x.name === value));
    currentQty = selectVariation.quantity;
    
    $("input").attr({
       "max" : currentQty,
       "min" : 1      
    });

    var selectedInputValue = $("input").val();
    if(currentQty === 0){
        console.log(currentQty,"current on changed",value);
    
        $("#submit").prop("disabled", true);
        $('select option[value="'+value+'"]').attr("disabled",true);
        // $("#categoryValue").prop("disabled", true);
      
    }
});
</script>
<%- include('innerPartials/footer'); %>